<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Search</title>
</head>
<body>
    <!-- Navigation -->
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li>Welcome, {{ user.username }}!</li>
                <li><a href="{% url 'user_account:profile' %}">Profile</a></li>
                <li><a href="{% url 'user_account:logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'user_account:login' %}">Login</a></li>
                <li><a href="{% url 'user_account:register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>

    <!-- Search Form -->
    <form method="GET" action="{% url 'anime:post_list' %}">
        <input type="text" name="search" placeholder="Search for anime..." value="{{ search_query }}">
        <button type="submit">Search</button>
    </form>

    <!-- Anime List -->
    <ul>
        {% for post in posts %}
            <li>{% if post.title_english %}
                {{ post.title_english }}
            {% else %}
            {{ post.title_romanji }}
            {% endif %}
          <!-- {% if post.trailer %} -->
            <div>
                <!-- Remove 'youtube:' prefix from trailer and embed video -->
                <!-- <iframe width="560" height="315"  -->
                <!-- src="https://www.youtube.com/embed/{{ post.trailer|slice:'8:' }}"  -->
                <!-- frameborder="0"  -->
                <!-- allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"  -->
                <!-- allowfullscreen></iframe> -->
            <!-- </div> -->
        <!-- {% else %} -->
            <!-- <p>No trailer available.</p> -->
        <!-- {% endif %}</li> -->
        <img src="{{ post.image_url }}" alt="Anime Cover" />

        {% empty %}
            <li>No anime found.</li>
        {% endfor %}
    </ul>
</body>
</html>
