<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Search</title>
</head>
<body>
    <!-- Navigation -->
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li>Welcome, {{ user.username }}!</li>
                <li><a href="{% url 'user_account:profile' %}">Profile</a></li>
                <li><a href="{% url 'user_account:logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'user_account:login' %}">Login</a></li>
                <li><a href="{% url 'user_account:register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>

    <!-- Search Form -->
    <form method="GET" action="{% url 'anime:post_list' %}">
        <input type="text" name="search" placeholder="Search for anime..." value="{{ search_query }}">
        <button type="submit">Search</button>
    </form>
   
    <!-- Anime List -->
    <ul>
        {% if posts %}
        {% for post in posts %}
            <li>
                {% if post.title_english %}
                    {{ post.title_english }}
                {% else %}
                    {{ post.title_romanji }}
                {% endif %}
            </li>
            <img src="{{ post.image_url }}" alt="Anime Cover" />
        {% endfor %}
    {% else %}
        <li>No anime found.</li>
    {% endif %}
    
 
    <ul>
        {% for post in postss %}
            <li>{% if post.name_full %}
                {{ post.name_full }}
            {% else %}
            {{ post.name_native }}
            {% endif %} 
        </li>
        <img src="{{ post.image }}" alt="Anime Cover" />

        {% empty %}
            <li>No Staff found.</li>
        {% endfor %}
    </ul>
    <!-- Search Form -->

   
 

</body>
</html>
